; Real Time Scoring configuration file
; ====================================

[server]
port: 80
; file used to prevent that two instances of the program are running at the same time
pid=/tmp/RTS.pid
; place where to store the IGC files generated 
root=/nfs/OGN/SWdata
; port used on gathering the OGN Device Data Base
DDBport  ='80'
; URL of the OGN DDB
DDBurl1  ='http://DDB.glidernet.org/download/?j=2'
; please  insert here the SoaringSpot ClientID and Secretkey of the competition
clientid=yoursoaringspotcapilientid
secretkey=yoursoaringspotapisecretkey
; APRS parameters to connect with the OGN network
[APRS]
APRS_SERVER_HOST = 'aprs.glidernet.org'
APRS_SERVER_PORT = 14580
APRS_USER     = 'youraprsuser'
APRS_PASSCODE = -1
APRS_FILTER_DETAILS = "filter r/44.06/5.9913/200   "
; place here your competition location
[location]
location_latitude  = 44.06
location_longitud  = 5.9913
